/* General Styling for all buttons */
button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Disease Button Styling */
  .disease-btn {
    background-color: pink;
    color: white;
    margin: 10px 0;
  }
  
  /* Disease Description Styling */
  .disease-description {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
    color: #333;
  }
  
  /* Symptom Button Styling */
  .symptom-btn {
    background-color: lightcoral;
    color: white;
    margin-top: 10px;
  }
  
  /* Symptom List Styling */
  .symptoms-list {
    font-size: 14px;
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
  }
  
  .symptoms-list li {
    padding: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin-bottom: 5px;
  }
  
  .symptom-btn:focus, .disease-btn:focus {
    outline: none;
  }
  